* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
}

body {
    background-color: #d8bdbd;
}

nav {
    background: rgb(55, 15, 55);
}

.title {
    width: 100%;
    text-align: center;
    padding: 5px 10px;
}

h1 a {
    color: lavender;
    text-decoration: none;
    font-size: 2.5rem;
}

.nav-links {
    padding-bottom: 15px;
    padding-top: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    font-size: 1rem;
    text-decoration: none;
    color: lavender;
}

.nav-links a:hover {
    color: darkgoldenrod;
}

/* Icon color */
.nav-links i {
    color: white;
}

.nav-links i:hover {
    color: darkgoldenrod;
}

/* bookmark css from https://www.w3schools.com/howto/howto_css_dropdown.asp */

.bookmark-dropdown {
    position: relative;
    display: inline-block;
}

.bookmark-dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%;
    right: 0;
}

.bookmark-dropdown:hover .dropdown-content {
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* Add box shadow */
    z-index: 1;
    right: 0; /* Align dropdown content to the right */
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.bookmark-dropdown .dropdown-content a:hover {
    background-color: #ddd;
    padding-bottom: 200px;
    position: absolute;
}

/* Dropdown Content */
.dropdown-content {
    
}

/* Adjust the top margin to align with the bookmark icon */
.bookmark-dropdown .dropdown-content {
    margin-top: 20px;
}

img {
    object-fit: cover;
    width: 100%;
    max-height: 300px;
}

.feedback-form {
    margin-bottom: 20px;
}

.feedback-form textarea {
    background-color: lavender;
}

.feedback-form input {
    display: block;
}

footer {
    padding-top: 50px;
}

@media (min-width: 768px) {
    nav {
        display: flex;
        justify-content: space-between;
    }

    h1 {
        letter-spacing: 2px;
        padding: 15px;
    }

    .nav-links {
        padding: 0;
        width: 50%;
    }

    img {
        max-height: 100px;
    }

}

@media (min-width: 992px) {

    img {
        max-height: 100px;
    }
}