html, body, #root, #root > div {
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #f9f3ff;
}

#root > div {
  display: flex;
  flex-direction: column;
}

header {
  min-height: 60px;
}

main {
  padding-top: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

nav {
  padding: 10px;
  background: rgb(55, 15, 55);
}

main > div {
  width: 100%;
}

.nav-container {
  display: flex;
  align-items: center;
}

.website-title {
  margin: auto;
  width: 40%;
}

.website-title h1 {
  text-align: center;
}

.website-title h1 a {
  text-decoration: none;
  color: white;
}

.card-bookmark {
  display: flex;
  justify-content: space-between;
}

.nav-links {
  display: none;
}

/* removed default button styling from hamburger menu */
#hamburger-menu {
  background: none;
  border: none;
  padding: 0;
  z-index: 2;
  color:white;
}

#hamburger-menu:hover {
  color: #734F96; /* Change color on hover */
}

#side-nav {
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgb(55, 15, 55);
  width: 70%;
  height: 100%;
  z-index: 1;
}

.fa-bookmark {
  font-size: 1.5rem;
}

.fa-bars {
  font-size: 1.5rem;
}

#side-nav ul {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-left: 20px;
}

#side-nav a {
  text-decoration: none;
  padding: 20px;
  color: aliceblue;
}

/* Add interactivity for bookmark icon */
.bookmark { 
  background: none; /* Removing default styling from making bookmark into a button */
  border: none;
  padding: 0;
}

.bookmark .fa-bookmark {
  font-size: 1.5rem;
  color: white;
  transition: color 0.3s ease; /* Smooth transition for color change */
}

.bookmark:hover .fa-bookmark {
  color: #734F96; /* Change color on hover */
}

.bookmark:focus .fa-bookmark,
.bookmark:active .fa-bookmark {
  color: #333; /* Change color on focus and click */
}

/* Dropdown container */
.dropdown-container {
  position: relative;
  display: inline-block;
}

/* Dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 100%;
  left: 0;
}

/* Show dropdown content when container is hovered */
.dropdown-container:hover .dropdown-content {
  display: block;
}

/* Dropdown link styles */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Hover effect for dropdown links */
.dropdown-content a:hover {
  background-color: #ddd;
}

.popup {
  position: absolute;
  top: calc(100% + 10px); /* Position the pop-up below the bookmark icon */
  left: 150%;
  transform: translateX(-50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 999;
  display: none; /* Hide initially */
}

/* Show the pop-up when necessary */
.popup.show {
  display: block;
}

/* Adjust the top margin to align with the bookmark icon */
.dropdown-content {
  margin-top: 20px;
}

/* Feedback form */
.feedback-form {
  margin-bottom: 20px;
}

.feedback-form textarea,
.feedback-form input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid lavender;
  border-radius: 5px;
  box-sizing: border-box;
}

/*cards*/
.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card {
  margin: 10px;
  display: flex;
  flex-direction: column;
  height: 90%;
}

.card-body {
  flex: 1;
}

.row {
  display:flex;
  flex-wrap:wrap;
}

.card-text {
  min-height: 100px;
}

@media (min-width: 768px) {
  .card-img-top {
    height: 150px;
  }

  .feedback-form textarea,
  .feedback-form input[type="submit"] {
    width: calc(100% - 20px);
  }

  .preview {
      display: flex;
      flex-wrap: wrap;
    }

}

@media (min-width: 820px) {
  .preview .col {
    flex-basis: 33.33%;
  }
  .card-title {
    font-size: 1.2rem;
  }
}

