html,
body,
#root,
.app {
  min-height: 100vh;
  background-color: #d8bdbd;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
}

/* header */

header {
  min-height: 60px;
}

  nav {
    padding: 10px;
    background: rgb(55, 15, 55);
  }

    .nav-container {
      display: flex;
      align-items: center;
    }

      #bookmarks {
        position: relative;
        display: inline-block;
        padding: 0;
      }

        .bookmark-button {
          background: none;
          border: none;
          z-index: 2;
        }
  
          .nav-fa {
            font-size: 1.5rem;
            color: white;
            transition: color 0.3s ease;
            font-size: 1.5rem;
          }
        
          .nav-fa:hover {
            color: #734F96;
          }
        
          .nav-fa:focus,
          .nav-fa:active {
            color: #333;
          }
    
        .bookmark-content {
          position: fixed;
          z-index: 1;
        }

          #signin-popup, #bookmarks-list {
            width: 50%;
            padding: 15px;
            margin-bottom: 10px;
            border-radius: 5px;
            box-sizing: content-box;
            display: block;
            border: 1px solid #ccc;
            background-color: white;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            margin-top: 20px;
          }
          
            #signin-popup p {
              color: black;
            }

            #bookmarks-list a {
              color: black;
              padding: 10px;
              text-decoration: none;
              display: block;
            }
            
              #bookmarks-list a:hover {
                background-color: #ddd;
              }

      #website-title {
        margin: auto;
        width: 40%;
      }

        #website-title h1 {
          text-align: center;
        }
      
        #website-title a {
          text-decoration: none;
          color: white;
        }

      #side-menu-btn {
        background: none;
        border: none;
        padding: 0;
        z-index: 2;
        color: white;
      }

      #side-menu-btn:hover {
        color: #734F96;
        display: show;
      }

        .fa-bars:active, .fa-bars:focus {
          color: white;
        }

      #side-nav {
        position: fixed;
        top: 0;
        right: 0;
        background-color: rgb(55, 15, 55);
        width: 60%;
        height: 100%;
        z-index: 1;
      }

        #side-nav ul {
          display: flex;
          flex-direction: column;
          padding-top: 100px;
          padding-left: 20px;
        }

        #side-nav h2 {
          color: darkgoldenrod;
          font-weight: bold;
          padding: 10px;
          font-size: 2rem;
        }
        
        #side-nav a {
          text-decoration: none;
          padding: 20px;
          color: aliceblue;
        }

        /* change color later */
        #side-nav a:hover {
          color: rgba(138, 100, 2, 0.695);
        }

      .nav-links {
        display: none;
      }

/* main content on the page */
main {
  padding-top: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

  main > div {
    width: 100%;
  }
    main header h1 {
      font-size: 4rem; 
      text-align: center;
      font-weight: bold;
      color: rgb(138, 99, 2);
    }

    main header p {
      text-align: center;
      font-size: 1.5rem;
      color: rgb(138, 99, 2);
    }
    /* card styling */
  .previews {
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

  }
    .card {
      margin: 30px auto;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      height: 90%;
      background-color: #734F96;
    }

      .card-img-top {
        height: 200px;
        object-fit: cover;
        opacity: 0.75;
      }

      .card-body {
        flex: 1;
      }

        .card-body-header {
          display: flex;
          justify-content: space-between;
        }

        .card h2 {
          font-weight: bold;
          color: rgba(138, 100, 2, 0.695);
          height: 3em;
        }

        .card-text {
          min-height: 100px;
          font-size: 1.2rem;
        }

        #read-more {
          background-color: rgb(55, 15, 55);
          color: white;
          margin-right: 0;
        }

        #read-more:hover, #read-more:focus {
          background-color: rgb(69, 55, 69);
          color: gray;
        }

        .bookmarked .fa-bookmark {
          color: rgba(138, 100, 2, 0.695);
        }

        .not-bookmarked .fa-bookmark {
          color: gray;
        }


  /* Feedback form */
  .feedback-form {
    margin-bottom: 20px;
  }

  .feedback-form textarea,
  .feedback-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid lavender;
    border-radius: 5px;
    box-sizing: border-box;
  }

/* .row {
  display: flex;
  flex-wrap: wrap;
} */

/* medium screens */
@media (min-width: 768px) {

  .card-img-top {
    height: 150px;
  }

  .feedback-form textarea,
  .feedback-form input[type="submit"] {
    width: calc(100% - 20px);
  }

  .preview {
    display: flex;
    flex-wrap: wrap;
  }

}

@media (min-width: 820px) {
  .preview .col {
    flex-basis: 33.33%;
  }

  .card-title {
    font-size: 1.2rem;
  }
}

/* Small screens */
@media (max-width: 768px) {
  .previews {
    flex-direction: column;
    align-items: center;
  }

}